*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(circle, #00e9ff, #00d4ff, #00bcff, #00a3ff, #0085ff); }
.container{
}
#img1{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.row{
    background:rgba(148, 148, 148, 0.486);
    border-radius: 3px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: deepskyblue;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    color: deepskyblue;
    border: solid 2px deepskyblue;
}
a{
    color:rgb(255, 255, 255);
}
.right-row{
    border: 2px solid black;
}

.logo{
    color: white;
}
.form{
    border: 2px solid black;

}