body {
  color: black;
  background-color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}

nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/*Navbar style*/

.bg-dark {
  background-color: black !important;
}

nav {
  padding: 0 48px !important;
}

nav ul li {
  padding: 8px;
}

nav ul .nav-link {
  color: white !important;
}

.nav-item:hover {
  background-color: #fca311;
  transition: 0.3s all;
}
