body {
  color: black;
  background-color: white;
  font-family: Helvetica, sans-serif;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
  box-sizing: border-box;
}

nav ul li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}

/*Navbar style*/

.bg-dark {
  background-color: black !important;
}

nav {
  padding: 0 48px !important;
}

nav ul li {
  padding: 8px;
}

nav ul .nav-link {
  color: white !important;
}

.nav-item:hover {
  background-color: #fca311;
  transition: 0.3s all;
}

/*prod style */

.panier-contenu,
.total-price {
  background-color: #eaf0f9;
}

.prod img {
  max-width: 500px;
  margin: auto;
  box-shadow: 0px 0px 5px;
}

.prod hr,
.total-price hr {
  border: 1px solid black;
  border-radius: 5px;
  padding: 0;
}

.total-price {
  height: 100%;
  padding: 10px;
}

.center {
  display: grid;
  place-items: center;
}

@media only screen and (max-device-width: 480px) {
  .total-price {
    margin: 30px 0;
  }
  .col-md-8 {
    margin: 20px 0;
  }
}
