#sbtn {
    background-color: white;
    color: rgb(0, 140, 255);
    border-color: black;
}

.nav-logo{
animation:bounceIn 0.6s;
transform: rotate(0deg) scale(1) translateZ(0);
transition: all 0.4s cubic-bezier(.8,1.8,.75,.75);
cursor: pointer;
}

@keyframes bounceIn {
    0% {
      opacity: 1;
      transform: scale(.3);
    } 
  
    50% {
      opacity: 1;
      transform: scale(1.05);
    } 
  
    70% {
      opacity: 1;
      transform: scale(.9);
    }
  
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

.nav-logo:hover{
transform: rotate(10deg) scale(1.1);
}

.img:hover{
color: deepskyblue;
}

.slider{
    width: 50%;
    height: auto;
}

.slcontainer{
    background-color: rgba(156, 155, 155, 0.26);
}

.tech-container{
    width: 100%;
    height: auto;
}

.tech-prod{
    width: 60%;
    height: auto;

}

.c{
    margin-left: 1%;
    margin-right: 1%;

}

.title{
    width: 100%;
    height: fit-content;

}

.all{
    width: 100%;
}

.mbt{
    width: 100%;
    height: auto;
}

.footer{
    width: 50%;
}



@media screen and (max-width:900px) {
.slider{
    width:100%;
    height: auto;
}

.tech-prod{
    width: 100%;
    height: auto;
}

.about{
}

}

@media screen and (max-width:1500px) {

.slider{
        width:60%;
        height: auto;
}

.c{
    margin-left: 1%;
    margin-right: 1%;

}

.tech-prod{
    width: 80%;
    height: auto;

}

}

