@media (max-width: 500px) {
  .login-clean {
    padding: 218px 20px;
  }
}

@media (max-width: 300px) {
  .login-clean {
    padding: 178px 20px;
  }
}

@media (max-width: 900px) {
  .login-clean {
    background-image: linear-gradient(to left top, #004092, #0070c0, #00a1de, #00d0ef, #00fff4);
    padding: 140px 20px;
  }
}



