*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: radial-gradient(circle, #00e9ff, #00d4ff, #00bcff, #00a3ff, #0085ff); }

#img2{
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
@media (max-width: 1550px) {
    #img1{
        width:250px;
    }
    #img2{
        width:475px;
    }
}

.row{
    background:rgba(255, 255, 255, 0.705);
    border-radius: 3px;
}
.btn1{
    border: none;
    outline: none;
    height: 50px;
    width: 100%;
    background-color: deepskyblue;
    color: white;
    border-radius: 4px;
    font-weight: bold;
}
.btn1:hover{
    background-color: white;
    color: deepskyblue;
    border: solid 2px deepskyblue;
}
a{
    color:rgb(0, 163, 218);
}

.logo{
    color: white;
}

.pic{
    width: 325px;
    height: auto;
}

.error{
    border: 2px solid black;
}


